@CHARSET "UTF-8";

a:link {text-decoration:none;color:black;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

table{
	position:relative;
	margin:0 auto;
	width:995px;
	height:775px;
	background-color:#f4f8fc;
  	border-collapse:collapse;
}

table table td{
	padding:10px;
}

table .content{
	font-size:13px;
	display:block;
	margin-top:-80px;
}

table #firstRow{
	height:50px;
}

table .firstColumn{
	width:575px;
}

table #secondRow{
	height:185px;
}

table .titleImg{
	margin-left:5px;
}

table .title{
	font-family:"SimHei";
}

table .titleEn{
	color:#9988a5;
	font-size:10px;
	font-family:"Arial";
}

table .resourceImg{
	border:1px solid #d7d4d4;
	margin:10px;
}